@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: url(../assets/frank-mckenna-OD9EOzfSOh0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: minmax(0, 0.5fr) 1fr 3fr 4fr 2fr minmax(0, 0.5fr);
  max-height: 100vh;
}

.major-cur {
  grid-area: 2 / 1 / 4 / 2;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 47px 47px 47px 47px 20px 1fr 47px 47px 1fr;
  grid-template-rows: 1fr 1fr 35px 35px 35px 35px 35px 35px 35px 1fr;
}

.major-cur > .now {
  grid-area: 4 / 2 / 5 / 4;
  font-weight: 400;
  font-size: 1.5em;
}

.major-cur > .temp-cur {
  grid-area: 5 / 2 / 8 / 6;
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.major-cur > .icon {
  grid-area: 7 / 6 / 9 / 8;
  background-image: url(https://cdn.weatherapi.com/weather/64x64/night/116.png);
  background-repeat: no-repeat;
} 

.major-cur > .cur-description {
  grid-area: 5 / 7 / 6 / 10;
  font-weight: 500;
  font-size: 1.5rem;
  justify-self: end;
  align-self: self-end;
}

.major-cur > .feels-like {
  grid-area: 6 / 7 / 7 / 10;
  font-weight: 400;
  font-size: 1em;
  justify-self: end;
  align-self: self-start;
}

.major-cur > .high-low-temp {
  grid-area: 8 / 2 / 9 / 6;
  font-weight: 400;
  font-size: 1em;
}

.major-cur > .rain {
  grid-area: 9 / 2 / 10 / 10;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: none;
  grid-template-columns: 2fr 9fr;
  height: 50px;
}

.major-cur > .rain > span {
  align-self: center;
}

.major-cur > .rain > .rain-icon {
  background-color: rgb(80, 80, 80, 0.4);
  fill: white;
  height: 40px;
  width: 40px;
  justify-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  grid-area: 2 / 2 / 3 / 3;
  padding: 1em;
}

.search form label > span:hover {
  box-shadow: 0px 0px 3px 3px rgb(255, 255, 255, 0.2);;
}

.search input::placeholder {
  color: rgb(61, 61, 61);
}

.search > form > label > span {
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  height: 4em;
  border-radius: 50px;
  align-items: center;
  padding: 0 0.7em;
}

.search > form > label > span > span {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > form > label > span > span > svg {
  height: 30px;
  width: 50px;
}

.search input {
  background-color: rgb(255, 255, 255, 0.0001);
  outline: none;
  border: 0px;
  height: 60%;
  font-size: 1.5em;
  font-family: 'Poppins';
}

.search input:focus {
  outline: none;
}

.search input + span > svg:hover {
  fill: green
}

.conditions-cur {
  grid-area: 4 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: repeat(10, minmax(50px, 1fr));
  grid-template-rows: repeat(9, 40px) 1fr;
}

.conditions-cur > span {
  grid-area: 1 / 2 / 2 / 11;
  font-size: 1.3em;
}

.conditions-cur > .wind {
  grid-area: 2 / 2 / 6 / 6;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(10, minmax(15px, 1fr));
  grid-template-rows: repeat(10, 1fr);
}

.conditions-cur > .wind > .heading {
  grid-area: 2 / 2 / 4 / 10;
  font-weight: 500;
}

.conditions-cur > .wind > .value {
  grid-area: 4 / 2 / 7 / 7;
  font-size: 2rem;
  font-weight: 300;
}

.conditions-cur > .wind > .value > .unit {
  font-size: 0.8rem;
}

.conditions-cur > .wind > .info {
  grid-area: 7 / 2 / 9 / 7;
  font-size: 0.8rem;
}

.conditions-cur > .wind > .icon {
  grid-area: 4 / 7 / 8 / 10;
}

.conditions-cur > .wind > .icon > svg {
  fill: aqua;
  height: 100%;
  width: 100%;
}

.conditions-cur > .uvIndex {
  grid-area: 6 / 2 / 10 / 6;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, minmax(15px, 1fr));
  grid-template-rows: repeat(10, 1fr);
}

.conditions-cur > .uvIndex > .heading {
  grid-area: 2 / 2 / 4 / 10;
  font-weight: 500;
}

.conditions-cur > .uvIndex > .value {
  grid-area: 4 / 2 / 7 / 7;
  font-size: 2rem;
  font-weight: 300;
}

.conditions-cur > .uvIndex > .value > .unit {
  font-size: 0.8rem;
}

.conditions-cur > .uvIndex > .info {
  grid-area: 7 / 2 / 9 / 7;
  font-size: 0.8rem;
}

.conditions-cur > .uvIndex > .icon {
  grid-area: 4 / 7 / 8 / 10;
}

.conditions-cur > .uvIndex > .icon > svg {
  fill: greenyellow;
  height: 100%;
  width: 100%;
}


.conditions-cur > .humidity {
  grid-area: 2 / 6 / 6 / 10;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, minmax(15px, 1fr));
  grid-template-rows: repeat(10, 1fr);
}

.conditions-cur > .humidity > .heading {
  grid-area: 2 / 2 / 4 / 10;
  font-weight: 500;
}

.conditions-cur > .humidity > .value {
  grid-area: 4 / 2 / 7 / 7;
  font-size: 2rem;
  font-weight: 300;
}

.conditions-cur > .humidity > .value > .unit {
  font-size: 0.8rem;
}

.conditions-cur > .humidity > .info {
  grid-area: 7 / 2 / 9 / 7;
  font-size: 0.8rem;
}

.conditions-cur > .humidity > .icon {
  grid-area: 4 / 7 / 8 / 10;
}

.conditions-cur > .humidity > .icon > svg {
  fill: orange;
  height: 100%;
  width: 100%;
}


.conditions-cur > .pressure {
  grid-area: 6 / 6 / 10 / 10;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, minmax(15px, 1fr));
  grid-template-rows: repeat(10, 1fr);
}

.conditions-cur > .pressure > .heading {
  grid-area: 2 / 2 / 4 / 10;
  font-weight: 500;
}

.conditions-cur > .pressure > .value {
  grid-area: 4 / 2 / 7 / 7;
  font-size: 2rem;
  font-weight: 300;
}

.conditions-cur > .pressure > .value > .unit {
  font-size: 0.8rem;
}

.conditions-cur > .pressure > .info {
  grid-area: 7 / 2 / 9 / 7;
  font-size: 0.8rem;
}

.conditions-cur > .pressure > .icon {
  grid-area: 4 / 7 / 8 / 10;
}

.conditions-cur > .pressure > .icon > svg {
  fill: rgb(0, 80, 184);
  height: 100%;
  width: 100%;
}


.sunrise-set-cur {
  grid-area: 5 / 1 / 6 / 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 19px);
}

.sunrise-set-cur > div {
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  grid-area: 1 / 2 / 10 / 10;
  width: 95%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.sunrise-set-cur > div > .first {
  grid-area: 2 / 2 / 3 / 6;
}

.sunrise-set-cur > div > .time1 {
  grid-area: 3 / 2 / 5 / 6;
  font-size: 2em;
}

.sunrise-set-cur > div > .second {
  grid-area: 6 / 2 / 7 / 6;
}

.sunrise-set-cur > div > .time2 {
  grid-area: 7 / 2 / 9 / 6;
  font-size: 2em;
}

.sunrise-set-cur > div .units {
  font-size: 0.5em;
}

.sunrise-set-cur > div > .icon {
  grid-area: 4 / 6 / 9 / 9;
}

.sunrise-set-cur > div > .icon > svg {
  width: 100%;
  height: 100%;
  fill: yellow;
}


.hourly-forecast {
  grid-area: 3 / 2 / 4 / 3;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 95%;
  width: 99%;
  display: grid;
  grid-template-rows: 1fr 7fr;
  row-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.hourly-forecast > .heading {
  font-size: 1.2em;
  padding-left: 5px;
}

.hourly-forecast > .main {
  display: grid;
  grid-template-columns: 100px;
  grid-auto-columns: 100px;
  column-gap: 10px;
  overflow-x: scroll;
  grid-auto-flow: column;
  overflow-y: hidden;
}

.hourly-forecast > .main > .hour {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 90%;
}

.hourly-forecast > .main > .hour > .temp {
  font-size: 2rem;
  align-self: self-end;
}

.hourly-forecast > .main > .hour > .icon {
  background-image: url(https://cdn.weatherapi.com/weather/64x64/night/116.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hourly-forecast > .main > .hour > .time {
  text-align: center;
}




/* scrollbar  */

* {
  scrollbar-width: thin;
  scrollbar-color:rgb(80, 80, 80, 0.4) rgb(256, 256, 256, 0.2);
}

*::-webkit-scrollbar {
  height: 5px;
}
    
*::-webkit-scrollbar-track {
  background: rgb(256, 256, 256, 0.2);
}
  
*::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80, 0.4);
}

/* scrollbar  */


.forecast {
  grid-area: 4 / 2 / 6 / 3;
  /* background-color: rgb(160, 160, 160, 0.3); */
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 99%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0.5fr 3fr 3fr 3fr;
  row-gap: 10px;
}

.forecast > .heading {
  font-size: 1.2rem;
  padding-left: 5px;
}

.forecast > .day {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(10, minmax(95px, 1fr));
  grid-template-rows: repeat(5, 30px);
  padding: 0px 10px;
  box-sizing: border-box;
}

.forecast > .day > .date {
  font-size: 1em;
  font-weight: 300;
  grid-area: 1 / 1 / 2 / 3;
  align-self: self-end;
}

.forecast > .day > .high-low-temp {
  grid-area: 2 / 1 / 4 / 3;
  font-weight: 600;
  font-size: 3em;
  height: 90%;
}

.forecast > .day > .high-low-temp .slash {
  font-size: 0.8em;
}

.forecast > .day > .high-low-temp .low {
  color: grey;
}

.forecast > .day > .description {
  grid-area: 4 / 1 / 6 / 2;
}

.forecast > .day > .icon {
  grid-area: 4 / 2 / 6 / 3;
  background-image: url(https://cdn.weatherapi.com/weather/64x64/night/116.png);
  background-repeat: no-repeat;
  background-position: center;
}

.forecast > .day > .maxwind {
  grid-area: 2 / 3 / 6 / 5;
}

.forecast > .day > .avhumid {
  grid-area: 2 / 5 / 6 / 7;
}

.forecast > .day > .maxindex {
  grid-area: 2 / 7 / 6 / 9;
}

.forecast > .day > .sunrise-set {
  grid-area: 2 / 9 / 6 / 11;

}

.forecast > .day > div > .head {
  font-weight: 500;
  font-size: 1.1em;
}

.forecast > .day > div .value {
  font-size: 1.5em;
}

.forecast > .day > div .units {
  font-size: 0.6em;
}

.forecast > .day > .sunrise-set .small-title {
  font-size: 0.6em;
}







.rain:hover, .wind:hover, .humidity:hover, .pressure:hover, .uvIndex:hover, .sunrise-set-cur > div:hover{
  box-shadow: 0px 0px 5px 5px rgb(255, 255, 255, 0.2);
}